@media screen and (max-width: 700px) {
    .title {
        font-size: 40px;
        margin-bottom: 20px;
    }

    /* header */

    /* / header */

    /* slider */

    .slider {
        padding: 0 20px;
        &__title {
            font-size: 40px;
            left: 20px;
            bottom: 159px;
        }
        .item {
            height: 450px;
        }
    }

    /* / slider */

    /* faq */

    .faq {
        .row {
            flex-direction: column;
            gap: 0;
        }
    }

    /* / faq */

    /* subscribe */

    .subscribe {
        padding: 30px 0 50px;
        &__desc {
            margin-bottom: 20px;
        }
        &__form {
            grid-template-columns: 1fr;
            gap: 10px;
        }
    }

    /* / subscribe */

    /* footer */

    .footer {
        padding: 80px 0 167px;
        .row {
            gap: 41px;
            flex-direction: column;
        }
        &__social {
            justify-content: center;
        }
    }

    /* / footer */
}

@media screen and (min-width: 700px) and (max-width: 1100px) {
    .container {
        max-width: 800px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1300px) {

}